/* Coloque aqui seu codigo CSS */
.fluig-style-guide .btn-success, .fluig-style-guide .btn-warning {margin-top: 10px; padding: 5px 12px !important;}
.fluig-style-guide .btn-warning {margin-left: 5px;}
div.hctWrapHome #hctCalendarioPanel .panel-heading {margin-top: -20px;}
div.hctWrapHome #hctCalendarioPanel .panel-heading h1{font-size: 25px; text-align: center; padding-top: 10px;}
div.hctWrapHome th.fc-day-header span {margin: 0 auto !important; display: block !important;}
div.hctWrapHome .fc-basic-view .fc-body .fc-row {min-height: 2em !important;}
div.hctWrapHome .fc-center h2 {margin-top: 0;}
#calendar .fc-agendaWeek-view .fc-today,  #calendar .fc-agendaDay-view .fc-today {background: red !important;}