<div class="row hct-addDate">
    <div class="col-md-4 date">
        <div class="form-group">
            <label for="dataInicio">* Data Início</label>
            <div class="input-group date" id="dataCadastro">
                <input type="text" name="dataProva" id="dataProva" class="form-control data-hora dataProva"
                    data-date="">
                <span class="input-group-addon">
                    <span class="fluigicon-calendar fluigicon"></span>
                </span>
            </div>
        </div>
    </div>
</div>